<html>
<body>
<div>Список валют</div>
{{#valutes}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{charCode}}</i>
    </div>
{{/valutes}}
<form action="/main">
    <button>Вернуться на главную</button>
</form>
</body>
</html>