<!DOCTYPE html>
<html>
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>
<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
<p>Click <a href="/main">here</a> to convert</p>
</body>
</html>